h1:nth-of-type(2){
    color: red;
    background-color: yellow;
}
h1:first-child{
    color:red;
    background-color: green;
}
p:not(h1){
    color: pink;
    background-color: blue;
}
h1:last-child{
    color: violet;
    background-color: rgb(0, 174, 255);
}
h1:first-child{
    color:green;
    background-color:red ;
}
/*h1:nth-last-child(h1){
    color: rgb(64, 10, 75);
    background-color: black;
}*/
h1:last-child{
    color: yellowgreen;
    background-color: black;
}
